body{
    color: orange;
    background-color: #998358;
}

.heading{
    width: 80%;
    font-size: 22px;
}

#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

.name_of_member,#result_member_name,#result_name_accuracy{
    color: coral;
}